.acordeon {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
    border: 2px solid #fff;
    border-radius: 1rem;
    
}

.acordeon .trigger {
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: transparent;
    color: #fff;
    border: none;
}

.acordeon .content {
    display: none

}