.skills {
    display: flex;
    flex-direction: column;
}

.skills .hard ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.skills .hard ul li img {
   max-width: 50px;
   margin: 0.5rem;
} 

.skills .soft ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.skills .soft ul li {
    margin-left: 2rem;
    padding: .25rem;
}

@media only screen and (min-width: 768px) {
    .skills {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}